<div class="side-navigation-body">
  <div class="navigation-item">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Intro
    </a>
  </div>

  <div class="navigation-item">
    <a>
      Produktliste
    </a>
  </div>

  <div class="navigation-item">
    <a >
      Produkt hinzufügen
    </a>
  </div>
</div>
