:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  background-color: blue;
  color: white;
  padding: 24px;
  margin-right: 40px;
}

.side-navigation-body {
  overflow: scroll;
  flex: 1;

  .navigation-item {
    margin-bottom: 12px;
    font-size: 1.2rem;

    a {
      display: block;
      padding: 4px 10px;
      border-radius: 10px;
      color: white;
      text-decoration: none;

      i {
        margin-right: 0.5rem;
      }
    }

    .active {
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
